[ldap]
type = activedirectory
uri = ldaps://ldap.example.org:636/
base = dc=example,dc=org
binduser = DOMAIN\ldapuser
bindpass = ldappass
groups = sysadmins,developer group
media = mail

[activedirectory]
filtergroup = (&(objectClass=group)(name=%s))
filteruser = (&(objectClass=user)(objectCategory=Person))
filterdisabled = (!(userAccountControl:1.2.840.113556.1.4.803:=2))
filtermemberof = (memberOf:1.2.840.113556.1.4.1941:=%s)
groupattribute = member
# Active Directory
userattribute = sAMAccountName
# Azure Active Directory
#userattribute = userPrincipalName

[openldap]
type = posix
filtergroup = (&(objectClass=posixGroup)(cn=%s))
filteruser = (&(objectClass=posixAccount)(uid=%s))
groupattribute = memberUid
userattribute = uid

[zabbix]
server = http://zabbix.example.org/zabbix/
username = admin
password = adminp4ssw0rd
auth = webform
# use "pre5.2" for releases prior 5.2
release = 5.2

[user]
# see https://www.zabbix.com/documentation/current/manual/api/reference/user/object
# use "type" for releases prior 5.2
type = 1
# use "roleid" for releases after 5.2
roleid = 1
timezone = Europe/Berlin
rows_per_page = 100

[media]
name = Email (HTML)
severity = Disaster,High,Average,Warning
onlycreate = true

